.app{
    width: 100vw;
    height: 100vh;
    background: rgba(237,243,248,0.50);
    display: flex;
    flex-direction: row;
}
body{
    margin: 0;
    padding: 0;
}
.ReactTable{
    .rt-table {
        .rt-thead {
            .rt-th.-sort-asc {
                box-shadow: unset;
            }
            .rt-th.-sort-desc {
                box-shadow: unset;
            }
        }
    }
}
.sidebar {
    height: 100%;
    width: 190px;
    min-width: 190px;
    background-color: #EDF3F8;
}
.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
    padding-left: 5px;
}
.sidebarList .sideRow {
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
}
.sidebarList .active {
    background-color: #0000000a;
    border-left: 2px solid #005FB8

    ;
}
.sidebarList .sideRow:hover {
    cursor: pointer;
    background-color: #0000000a;
}
.sideRow #rowIcon {
    flex: 25%;
    display: grid;
    place-items: center;
}
.sideRow #rowTitle   {
    flex: 75%;
}