* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Segoe UI;
  line-height: 17px;
  color: #2E384D;
  box-sizing: border-box;
  user-select: none;
}

.App {
  width: 100vw;
  height: 100vh;
}

a.standard {
  color: #0071ba;
  &:hover {
    color: #015def;
  }
  &:active {
    color: #7eaefe;
  }
  &:visited {
    color: #753f94;
  }
}

button {
  background-color: transparent;
}

iframe {
  border: 0;
}

.qcss-wizard-ind {
  div.header {
    ul {
      display: flex;

      li {
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 1px;

        div.step {
          position: relative;
          padding: 0;
          &:before {
            position: absolute;
            left: 0;
            border-color: transparent transparent transparent #eaeaea;
          }
          &:after {
            position: absolute;
            right: 0;
            transform: translateX(100%);
          }
        }

        div.active {
          margin: 0;
          padding: 0;
        }

        div.tab {
          /* width: #{"calc(100% - 14px)"}; */
          width: 100%;
          padding: 0 calc(14rem/16);
        }
      }

      &:first-child li {
        padding-left: 0;
      }
    }
  }
}

/* ---------------- Override React Table ---------------- */
.ReactTable .rt-th {
  outline: none; /* For Chrome, disable to blue border in table header */
  text-align: left;
  font-weight: bold;
}

.ReactTable .rt-thead.-header {
  // background-color: #f7f7f7;
}

.ReactTable .rt-thead.-filters {
  background-color: white;
}

.ReactTable .rt-noData {
  // top: 150%;
}

.qcss-message-item.qcss-mask-loading,
.qcss-message-item.qcss-message-box {
  .qcss-message-item-detial {
    position: relative;
    padding: 0;
  }
  .qcss-message-item-detial::before {
    background-image: none;
    content: none;
  }
}

.qcss-message-loading-icon {
  background: url('./images/loading_30.svg?v=URL_VERSION_CODE');
  background-position: center 100%;
  background-size: cover;
  width: calc(24/16rem);
  height: calc(24/16rem);
  animation: qcss-long-wait-qcss-loading 1.6s steps(7) infinite;
  margin-right: calc(16/16rem);
  vertical-align: middle;
  display: inline-block;
}

@keyframes qcss-long-wait-qcss-loading {
  $aframe : 24/16rem;
  $keyframeSel: percentage(1/7 * 6);
  0% {
    background-position: center 0;
  }
  #{$keyframeSel} {
    background-position: center 100%;
  }
}

.dropdown_list {
  border: 1px solid #AAAAAA;
  border-radius: 4px; 
  height: 30px;
  // margin: 0.25rem 0rem; 
  background-color: #FFFFFF; 
  &:hover {
    border: 1px solid #848484;
  }
}
.dropdown_active {
  border: 2px solid #8AB8E0;
  border-radius: 4px; 
  height: 30px;
}
.dropdown-list--field {
  @extend .align-items-center !optional;
}

.editable-group-dropdown-list-field {
  @extend .align-items-center !optional;
}

.dropdown-list--list {
  width: 180px;
  max-width: 100%;
  // background-color: white;
  background: #FFFFFF;
  z-index: 2;
  // border: 1px solid #BEBEBE;
  // margin-left: -1px;
  // margin-top: -1px;
  position: fixed;
  @extend .flexbox !optional;
  // box-shadow: 0 calc(1rem/16) calc(5rem/16) rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
  padding: 6px 0 6px 0;
}

.dropdown_list-list--list {
  width: inherit;
  max-width: 100%;
  // background-color: white;
  background-color: #FFFFFF;
  z-index: 2;
  border: 1px solid #BEBEBE;; 
  // margin-left: -1px;
  // margin-top: -1px;
  position: fixed;
  @extend .flexbox !optional;
  // box-shadow: 0 calc(1rem/16) calc(5rem/16) rgba(0, 0, 0, 0.2);
  // box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
  border-radius: 0 0 4px 4px;
}

.dropdown_list_item {
  @extend .align-items-center !optional;
}

.app-tooltip {
  // position: fixed;
  // background: linear-gradient(180deg, #fefefe 0%, #e5e4f2 90%);
  // border: 1px solid #767676;
  // z-index: 200;
  // padding: 0 calc(20/16rem);
  // font-size: calc(12/16rem);
  // max-width: calc(300/16rem);
  // min-height: calc(21/16rem);
  // width: max-content;
  // line-height: 1.25;
  // @extend .flexbox;
  // @extend .align-items-center;
  max-width: 300px;
  line-height: 20px;
  background: #444444!important;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2); 
  border-color: #444444!important;
  padding: 10px 12px 10px 12px;
  z-index: 100000000;
  position: fixed;
  width: auto;
}
