<!DOCTYPE html>
<html lang="en">
<hta:application applicationname="Test" border="none" caption="yes" showintaskbar="no" singleinstance="yes" sysmenu="yes" selection="no" innerborder="no" scroll="yes"/>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=10"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000" />
    <title>Gulbarga Bank</title>
    <link rel="icon" type="image/x-icon"  href="./images/bank_icon.ico">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  <script type="text/javascript" src="static/myApp.bundle.js"></script></body>
</html>
