.home-page {
    height: 100%;
    width: 100%;
    background-image: (radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../imgs/home.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .log-in {
        height: 50%;
        width: 35%;
        background: rgba(255, 255, 255, 0.5);
        min-width: 450px;
        max-width: 450px;

        .welcometxt {
            display: flex;
            justify-content: center;
            margin: 104px 0px 0px 0xp;
            margin-top: 70px;

            h1 {
                font-size: 25px;
            }
        }

        .user-name {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            border: black 1px;
            height: 10%;
            .username-icon {
                margin-right: 5px;
                img {
                    margin: 4px 0px 0px 10px;
                }
            }

            .usrname-input {
                input {
                    border: none;
                    background-color: transparent;
                    color: black;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        .password-main {
            height: 10%;
            margin-top: 20px;
            display: flex;
            justify-content: center;

            .pass-div {
                width: 65%;
                display: flex;
                border: black solid 0.5px;
            }
            img {
                margin: 4px 6px 0px 10px;
                height: 24px;
                width: 24px;
            }
            input {
                border: none;
                background-color: transparent;
                font-size: 18px;
                font-weight: bold;
            }
            .password-input {
                margin: 0px -3px;
            }
        }
        .forget-main {
            margin-top: 10px;
            button {
                margin-left: 59%;
                border: none;
                border-bottom: 1px solid black;
                cursor: pointer;
                font-weight: bold;
            }
            button:hover {
                background-color: darkgray;
            }
        }

        .login-main {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            button {
                width: 200px;
                height: 32px;
                cursor: pointer;
                font-weight: bold;
                font-size: 20px;
            }
            button:hover {
                background-color: darkgray;
            }
        }
        .signup-main{
            display: flex;
            justify-content: center;
            margin-top: 5%;

            button{
                border: none;
                color:blue;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover{
                border-bottom: 1px solid blue;
            }
            .signupbtn{
                margin: 0px 3px;

            }
            .account{
                font-weight: bold;
            }
        }
    }

    .bank-head-icon {
        background: rgba(255, 255, 255, 0.5);
        height: 50px;
        width: 100px;
        border-radius: 150px 150px 0 0;
        margin-top: -50px;

        img {
            height: 65px;
            width: 60px;
            margin: 20px;
        }
    }
}
